@import url(../../styles/global.scss);

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}
.search {
  max-width: 400px;
}

.header { 
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.body {
 display: flex;
}

.icon{
  height: 1rem;
  width: 1rem;
}

.headFilters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagnation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  gap: 0.5rem;
}

.status {
  flex: 1;
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.pagnation {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem; 
}

.row { 
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.5rem; 
}

.paginationInformation {
  color: var(--muted-foreground);
  font-size: 0.875rem;
  line-height: 1.25rem;
}