@import url(../../styles/global.scss);

.table {
  display: table;
}

.container {
  border-width: 1px;
  border-radius: calc(var(--radius) - 2px);
  border-color: var(--border);
  border-style: solid;
  overflow-x: auto;
  max-width: 100%; 
  display: block;
}